{% extends "CorpUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    Bienvenue sut TwitterClone
{% include "CorpUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
