<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <!-- Theme -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TwitterClone</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Accueil</a></li>
                <li><a href="/tweet/add">Tweeter</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/register">Inscription</a></li>

                {% if is_granted("ROLE_USER") %}
                <li>
                    <a href="/profile">
                        Profile {{ app.user.username|capitalize }}
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        Déconnexion
                    </a>
                </li>
                {% else %}
                    <li>
                        <a href="/login">
                            Connexion
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<div class="container">
    {% block body %}{% endblock %}

    <hr>

    <footer>
        <p>© 2016 Corp, Inc.</p>
    </footer>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
