{% extends '::base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.content, { 'attr': {'class': 'content-class'} }) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}{% endblock %}
