{% extends '::base.html.twig' %}

{% block body %}

    <!-- Example row of columns -->
    <div class="row">

        {% for tweet in tweets %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>{{ tweet.content }}</h5>
                        <p><a>@{{ tweet.user.username }}</a> at {{ tweet.publishedAt|date('Y-m-d H:m') }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>


{% endblock %}

{% block javascripts %}{% endblock %}
